# Object files
*.o

#ignore vim files
.*.swp
**/.*.swp
.*.swo
**/.*.swo
**/.swp
**/.swo

*.orig

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
index

#sublime sftp config
sftp-config.json